<p style="color: green"><%= notice %></p>

<h1>Countries <%= link_to "Add New Country", new_country_path, class: "btn btn-light" %></h1>

<div id="countries">
  <% @countries.each do |country| %>
    <%= render country %>
    <p>
      <%= link_to "Show this country", country, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

<div>
<%= link_to "Back to Adding a hotel", new_hotel_path, class: "btn btn-light" %>
</div>