<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hotel.country.name%>
  </p>

  <p>
    <strong>Price:</strong>
    <%= hotel.price %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= hotel.contact_number %>
  </p>

  <p>
    Added <%= time_tag hotel.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong><%= pluralize hotel.reviews.count, "review" %></strong>
  </p>

</div>
