<!-- <div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotel.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hotel.country.name%>
  </p>

  <p>
    <strong>Price:</strong>
    <%= hotel.price %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= hotel.contact_number %>
  </p>

  <p>
    Added <%= time_tag hotel.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong><%= pluralize hotel.reviews.count, "review" %></strong>
  </p>

</div> -->

<div class="card border-secondary mb-3" style="min-width: 350px;">
  <div class="card-body">
    <h5 class="card-title">Name: <%= hotel.name %></h5>
    <p class="card-text">Description: <%= hotel.description %></p>
    <p class="card-text">Address: <%= hotel.address %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Country: <%= hotel.country.name %></li>
    <li class="list-group-item">Price: <%= hotel.price %></li>
    <li class="list-group-item">Contact Number: <%= hotel.contact_number %></li>
  </ul>
  <div class="card-body">
    <h5 class="card-text">Added <%= time_tag hotel.created_at, "data-local": "time-ago" %></h5>
    <h5 class="card-text"><%= pluralize hotel.reviews.count, "review" %></h5>
  </div>
</div>