<p style="color: green"><%= notice %></p>

<h1>Hotels <%= link_to "Add New Hotel", new_hotel_path, class: "btn btn-light" %> </h1>

  <%= form_with(url: hotels_path, method: "GET", data: { turbo_frame: "hotels", turbo_action: "advance", controller: "form-submission"}) do |form| %>
    <%= form.label :query, "Search by name:" %>
    <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
  <% end %>

<%= render "hotels"%>